name = "SatBasedTrees"
uuid = "44de4f9f-f425-403b-a7e6-69d22c13e376"
authors = ["Perro2110 <perrottamarco2011@gmail.com> and contributors"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
